{% extends 'layout.html' %}
{% block css %}
{% endblock %}

{% block content %}

<section class="d-flex flex-column mb-4">
    <h1 class="text-center">Encuentra a un paseador</h1>
    <form class="w-50 mx-auto d-flex">
        <input class="form-control">
        <button type="submit" class="ms-2 btn btn-primary">Buscar</button>
    </form>
</section>
<section class="row">
    {% for prov in providers %}
    <div class="col-3">
        <div class="card">
            <img class="w-100" src="{{ prov.photo }}"
                class="" alt="...">
            <div class="card-body">
                <h4 class="card-title text-center">{{ prov.first_name }} {{ prov.last_name }}</h3>
            </div>
        </div>
    </div>  
    {% endfor %} 
</section>

{% endblock %}

{% block js %}

{% endblock %}