{% extends 'layout.html' %}
{% block content %}

<section class="d-flex flex-column align-items-center mt-4 pt-4" >
    <h2>Ingresa a tu cuenta de miembro</h2>
    <form method="post" action="/sign_in/login" class="container">
        {% csrf_token %}
        <div class="form-group">
            <label for="">Ingrese su email</label>
            <input type="email" name="email" autocomplete="'off" class="form-control">
        </div>
        <div class="form-group">
            <label for="">Ingrese su contraseña</label>
            <input type="password" name="password" class="form-control">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary mt-4">Ingresar</button>
        </div>
    </form>

</section>

{% endblock %}